#Instalação de bibliotecas e importação#

In [ ]:
pip install gcsfs

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gcsfs
  Downloading gcsfs-2023.3.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: fsspec==2023.3.0 in /usr/local/lib/python3.9/dist-packages (from gcsfs) (2023.3.0)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.9/dist-packages (from gcsfs) (2.7.0)
Collecting aiohttp!=4.0.0a0,!=4.0.0a1
  Downloading aiohttp-3.8.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 22.6 MB/s eta 0:00:00
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.9/dist-packages (from gcsfs) (2.17.1)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.9/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.9/dist-packages (from gcsfs) (1.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from gcsfs) (2.27.1)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (158 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 158.8/158.8 KB 15.5 MB/s eta 0:00:00
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.8.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (264 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 264.6/264.6 KB 17.6 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (2.0.12)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.2/114.2 KB 11.6 MB/s eta 0:00:00
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (22.2.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.9/dist-packages (from google-auth>=1.2->gcsfs) (1.16.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from google-auth>=1.2->gcsfs) (5.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.9/dist-packages (from google-auth>=1.2->gcsfs) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.9/dist-packages (from google-cloud-storage->gcsfs) (2.11.0)
Requirement already satisfied: google-resumable-media>=2.3.2 in /usr/local/lib/python3.9/dist-packages (from google-cloud-storage->gcsfs) (2.4.1)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in /usr/local/lib/python3.9/dist-packages (from google-cloud-storage->gcsfs) (2.3.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->gcsfs) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->gcsfs) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->gcsfs) (1.26.15)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /usr/local/lib/python3.9/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (1.59.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /usr/local/lib/python3.9/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (3.20.3)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.9/dist-packages (from google-resumable-media>=2.3.2->google-cloud-storage->gcsfs) (1.5.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.9/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.2)
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, gcsfs
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 async-timeout-4.0.2 frozenlist-1.3.3 gcsfs-2023.3.0 multidict-6.0.4 yarl-1.8.2

In [ ]:
pip install pandera

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandera
  Downloading pandera-0.14.5-py3-none-any.whl (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.3/149.3 KB 5.9 MB/s eta 0:00:00
Requirement already satisfied: wrapt in /usr/local/lib/python3.9/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from pandera) (23.0)
Requirement already satisfied: pydantic in /usr/local/lib/python3.9/dist-packages (from pandera) (1.10.7)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.8.0-py3-none-any.whl (8.7 kB)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from pandera) (1.4.4)
Requirement already satisfied: multimethod in /usr/local/lib/python3.9/dist-packages (from pandera) (1.9.1)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.9/dist-packages (from pandera) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.0->pandera) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.9/dist-packages (from typing-inspect>=0.6.0->pandera) (4.5.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pandera) (1.16.0)
Installing collected packages: mypy-extensions, typing-inspect, pandera
Successfully installed mypy-extensions-1.0.0 pandera-0.14.5 typing-inspect-0.8.0

In [ ]:
import pandas as pd
import os
import numpy as np
import pandera as pa
from google.cloud import storage

#Configuração pandas#

In [ ]:
pd.set_option('display.max_columns',100)

#Conexão com o GCP#

In [ ]:
serviceAccount = 'chave_google'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [ ]:
client = storage.Client()
bucket = client.get_bucket('patriciamoraes1')
bucket.blob('PlanilhaVendas.xlsx')
path = 'gs://patriciamoraes1/brutos/PlanilhaVendas.xlsx'

#Extração#

In [ ]:
df = pd.read_excel(path, parse_dates=['Unnamed: 4'])

#Análise Exploratória#

In [ ]:
df.tail(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
17485,194090,Google Phone,1,600,2019-08-04 17:11:00,NaN,"177 Jackson St, Los Angeles, CA 90001"
17486,194091,AA Batteries (4-pack),1,3.84,04/15/19 16:02,NaN,"311 Forest St, Austin, TX 73301"
17487,194092,AAA Batteries (4-pack),2,2.99,04/28/19 14:36,NaN,"347 Sunset St, San Francisco, CA 94016"
17488,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,NaN,"835 Lake St, Portland, OR 97035"
17489,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,NaN,"354 North St, Boston, MA 02215"

In [ ]:
df.isna().sum()

Unnamed: 0      677
Unnamed: 1      677
Unnamed: 2      677
Unnamed: 3      677
Unnamed: 4      677
Unnamed: 5    16529
Unnamed: 6      677
dtype: int64

In [ ]:
df.tail(2)

,ID,PRODUTOS,QTD_PEDIDO,PRECO_UNIT,DATA_HORA,DATA,ENDERECO_PED
17488,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,NaN,"835 Lake St, Portland, OR 97035"
17489,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,NaN,"354 North St, Boston, MA 02215"

In [ ]:
df.DATA_HORA.head(2)

0    NaT
1    NaT
Name: DATA_HORA, dtype: object

In [ ]:
df.dtypes

ID              object
PRODUTOS        object
QTD_PEDIDO      object
PRECO_UNIT      object
DATA_HORA       object
DATA            object
ENDERECO_PED    object
dtype: object

In [ ]:
df.head(2)

    ID PRODUTOS QTD_PEDIDO PRECO_UNIT DATA_HORA DATA ENDERECO_PED
0  NaN      NaN        NaN        NaN       NaT  NaT          NaN
1  NaN      NaN        NaN        NaN       NaT  NaT          NaN

In [ ]:
df.isna().sum()

ID                677
PRODUTOS          677
QTD_PEDIDO        677
PRECO_UNIT        677
DATA_HORA         677
DATA            16529
ENDERECO_PED      677
dtype: int64

In [ ]:
ft_isna = df.ID.isna()
df.loc[ft_isna]

        ID PRODUTOS QTD_PEDIDO PRECO_UNIT DATA_HORA DATA ENDERECO_PED
0      NaN      NaN        NaN        NaN       NaN  NaN          NaN
1      NaN      NaN        NaN        NaN       NaN  NaN          NaN
2      NaN      NaN        NaN        NaN       NaN  NaN          NaN
3      NaN      NaN        NaN        NaN       NaN  NaN          NaN
4      NaN      NaN        NaN        NaN       NaN  NaN          NaN
...    ...      ...        ...        ...       ...  ...          ...
15870  NaN      NaN        NaN        NaN       NaN  NaN          NaN
16019  NaN      NaN        NaN        NaN       NaN  NaN          NaN
16167  NaN      NaN        NaN        NaN       NaN  NaN          NaN
16553  NaN      NaN        NaN        NaN       NaN  NaN          NaN
16825  NaN      NaN        NaN        NaN       NaN  NaN          NaN

[677 rows x 7 columns]

In [ ]:
dfbackup = df.copy()

#Tratamento#

In [ ]:
df.rename(columns ={
    'Unnamed: 0':'ID', 
          'Unnamed: 1':'PRODUTOS', 
          'Unnamed: 2':'QTD_PEDIDO',
          'Unnamed: 3':'PRECO_UNIT', 
          'Unnamed: 4':'DATA_HORA', 
          'Unnamed: 5':'DATA', 
          'Unnamed: 6':'ENDERECO_PED'
}, inplace=True)

In [ ]:
df.DATA_HORA.replace(np.NaN,pd.NaT,inplace=True)

In [ ]:
df.drop_duplicates(inplace=True, keep=False)

In [ ]:
df.head(2)

,ID,PRODUTOS,QTD_PEDIDO,PRECO_UNIT,DATA_HORA,DATA,ENDERECO_PED
624,178000,Lightning Charging Cable,1,14.95,04/27/19 11:47,NaN,"979 Hickory St, Los Angeles, CA 90001"
625,178001,USB-C Charging Cable,1,11.95,2019-05-04 10:50:00,NaN,"976 Park St, New York City, NY 10001"

In [ ]:
df.drop(['DATA'],axis=1,inplace=True)

In [ ]:
df.head(2)

    ID PRODUTOS QTD_PEDIDO PRECO_UNIT DATA_HORA ENDERECO_PED
0  NaN      NaN        NaN        NaN       NaT          NaN
1  NaN      NaN        NaN        NaN       NaT          NaN

In [ ]:
df['DATA_HORA'] = pd.to_datetime(df['DATA_HORA'])

In [ ]:
from datetime import datetime

In [ ]:
df['QTD_PEDIDO'] = df['QTD_PEDIDO'].astype(int)
df['PRECO_UNIT'] = df['PRECO_UNIT'].astype(float)
df['ID'] = df['ID'].astype(int)

In [ ]:
df.head(2)

,ID,PRODUTOS,QTD_PEDIDO,PRECO_UNIT,DATA_HORA,ENDERECO_PED
624,178000,Lightning Charging Cable,1,14.95,2019-04-27 11:47:00,"979 Hickory St, Los Angeles, CA 90001"
625,178001,USB-C Charging Cable,1,11.95,2019-05-04 10:50:00,"976 Park St, New York City, NY 10001"

In [ ]:
df.dtypes

ID                       int64
PRODUTOS                object
QTD_PEDIDO               int64
PRECO_UNIT             float64
DATA_HORA       datetime64[ns]
ENDERECO_PED            object
dtype: object

In [ ]:
df['data'] = df.DATA_HORA.dt.date

In [ ]:
df['mes_extenso'] = df['data'].dt.strftime('%B')

In [ ]:
df['data'] = pd.to_datetime(df['data'])
df['data_extenso'] = df['data'].dt.strftime('%d/%B/%Y')

In [ ]:

df['mes'] = df.data.dt.month

In [ ]:
df.head(2)

,ID,PRODUTOS,QTD_PEDIDO,PRECO_UNIT,DATA_HORA,ENDERECO_PED,data,mes
624,178000,Lightning Charging Cable,1,14.95,2019-04-27 11:47:00,"979 Hickory St, Los Angeles, CA 90001",2019-04-27,4
625,178001,USB-C Charging Cable,1,11.95,2019-05-04 10:50:00,"976 Park St, New York City, NY 10001",2019-05-04,5

In [ ]:
df.head(2)

,ID,PRODUTOS,QTD_PEDIDO,PRECO_UNIT,DATA_HORA,ENDERECO_PED,data,mes
624,178000,Lightning Charging Cable,1,14.95,2019-04-27 11:47:00,"979 Hickory St, Los Angeles, CA 90001",2019-04-27,April
625,178001,USB-C Charging Cable,1,11.95,2019-05-04 10:50:00,"976 Park St, New York City, NY 10001",2019-05-04,May

#Load#

In [ ]:
df.to_csv('gs://patriciamoraes1/tratados/PlanilhaVendas.xlsx',index=False)